@{
    ViewData["Title"] = "Create Blog";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Create new blog</div>
            </div>

            <!-- Card body starts -->
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="txtBlogTitle">Blog title</label>
                            <input type="text" class="form-control" id="txtBlogTitle" placeholder="Enter blog title" />
                            @* <small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small> *@
                        </div>

                        <div class="form-group">
                            <label for="txtBlogConent">Blog Conent</label>
                            <textarea type="password" class="form-control" id="txtBlogConent" placeholder="Enter blog content" rows="4"></textarea>
                            <small id="txtBlogConentInfo" class="form-text text-small text-black-50">Max 500 characters</small>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Card body ends -->
            <!-- Card action starts -->
            <div class="card-action d-flex align-center justify-content-center" style="gap:10px;">
                <button class="btn btn-dark">Submit</button>
                <button class="btn btn-danger">Cancel</button>
            </div>
            <!-- Card action ends -->

        </div>
    </div>
</div>
